div.portfolioHeader {
  background-color: #2f3f40;
  border: solid 1px black;
  color: white;
  display: flex;
  flex-direction: row;
  height: 32px;
}

div.portfolioRow {
  background-color: white;
  border: solid 1px black;
  border-top: none;
  color: #2f3f40;
  display: flex;
  flex-direction: row;
}

div.column.desktop {
  padding-top: 8px;
  padding-left: 8px;
  width: 160px;
}

div.column.mobile {
  padding-top: 8px;
  padding-left: 2px;
  width: 20vw;
  overflow: scroll;
}

@media all and (max-width: 1279px) {
  div.portfolioHeader.desktop,
  div.portfolioRow.desktop {
    display: none;
  }
}

@media all and (min-width: 1280px) {
  div.portfolioHeader.mobile,
  div.portfolioRow.mobile {
    display: none;
  }
}
